<div id="categories_<%= parent_id %>" <% if parent_id!='0' %> class="children_for_list_item" style="display:none" <% end %>>
<%= render :partial => "category", :collection => categories, :locals => {:parent_id => parent_id} %>
</div>
 <%= sortable_element "categories_#{parent_id}", :url => {:action => 'update_positions',:parent_id => parent_id}, :tag => 'div' %>