{
    margin-bottom: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.actions {
    clear: both;
}

label {
    display: inline-block;
    width: 120px;
}

input[type=text], select {
    box-sizing: border-box;
    width: 100px;
}

.field {
    margin-bottom: 10px;
}