Password:<br />
<% form_tag(:action => :login) do %>
  <table>
    <tr>
      <td><input id="password_value" class="input" type="password" style="width: 240px;" size="30" name="password[value]"/></td>
      <td><input class="buttons" type="submit" value="OK" name="commit"/></td>
    </tr>
  </table>
<% end %>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>