  <tr>
    <td align="right" nowrap="nowrap" class="cr">&copy;<%= year_string %> KORE CMS.</td>
    <td class="cr"><a href="mailto:support@koredesign.com">support@koredesign.com</a>   | 416-253-1701</td>
  </tr>