<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
  <table border="0">
    <tr>
      <td>Name:</td><td><%= @letter[:name] %></td>
    </tr>
    <tr>
      <td>Subject:</td><td><%= @letter[:subject] %></td>
    </tr>
    <tr>
      <td>E-mail:</td><td><%= @letter[:email] %></td>
    </tr>
    <tr>
      <td style="vertical-align:top;">Message:</td>
      <td><%= @letter[:message] %></td>
    </tr>
  </table>  
</body>
</html>	

